:root {
  --primary-color: #ff0000;
  --secondry-color: white;
  --blurBgColor: hsla(0, 0%, 14%, 0.369);
  --textBg: rgba(0, 0, 0, 0.767);
  --loading-overlay: rgba(0, 0, 0, 0.692);
  --black: black;
  --transition: 400ms;
  --letter-spacing: 3px;
  --bebas-font: "Bebas Neue", cursive;
  --poppins-font: "Poppins", sans-serif;
}
html {
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-padding: 12rem;
}
body {
  background-color: var(--black);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: var(--primary-color);
  color: var(--secondry-color);
}
::-webkit-scrollbar {
  width: 2px;
  background-color: var(--black);
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(10deg, var(--primary-color), var(--black));
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.pleaseUsePc {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--black);
  color: var(--secondry-color);
  top: 0;
  font-family: var(--poppins-font);
  font-size: 1.5rem;
  left: 0;
  z-index: 99999999;
}
.loading {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  transition: height 1s;
  position: fixed;
  background-color: var(--black);
  z-index: 9999;
  font-size: 6rem;
  font-family: var(--bebas-font);
  color: var(--secondry-color);
}
.loading p::first-letter {
  color: var(--primary-color);
}
.loading p {
  position: relative;
}
.loading p::before,
.loading p::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1%;
  background-color: var(--loading-overlay);
  box-shadow: 0 0 30px 30px var(--loading-overlay);
  top: 0;
  transform: rotate(50deg);
  animation: loadingRotator 1s 0s infinite ease-out;
}
.loading p::after {
  left: -20%;
}
.loading p::before {
  left: -50%;
}
@keyframes loadingRotator {
  to {
    transform: translateX(60rem) rotate(50deg);
  }
}
.loading2 {
  background-color: var(--primary-color);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.cursorCanvas,
.cursorCanvasHoverOnLink {
  pointer-events: none;
  position: fixed;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 0 -10px var(--primary-color);
  z-index: 99999;
  transition: opacity var(--transition), transform var(--transition),
    box-shadow var(--transition);
}
.cursorCanvas {
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 0 -10px var(--primary-color);
}
.cursorCanvasHoverOnLink {
  transform: translate(-50%, -50%) scale(2);
  box-shadow: 0 0 10px var(--primary-color);
  opacity: 0.4;
}
.myCanvas {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
.header {
  width: 100%;
  position: fixed;
  justify-content: space-around;
  font-family: var(--bebas-font);
  padding: 1rem 2rem;
  background-color: var(--blurBgColor);
  backdrop-filter: blur(3px);
  z-index: 99;
}
.header .logo a {
  position: relative;
  /* cursor: pointer; */
  letter-spacing: var(--letter-spacing);
  color: var(--secondry-color);
  font-size: 2rem;
  text-decoration: none;
  transition: var(--transition);
}
.header .logo a::first-letter {
  color: var(--primary-color);
}
.header .logo a:hover::first-letter {
  color: var(--secondry-color);
}
.header .logo a:hover {
  text-shadow: 0 0 30px var(--primary-color);
  color: var(--primary-color);
}
.header .logo a::before,
.header .logo a::after {
  content: "";
  position: absolute;
  width: 30%;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color: var(--secondry-color);
  transition: var(--transition);
}
.header .logo a::before {
  right: 0;
  top: -5px;
}
.header .logo a::after {
  background-color: var(--primary-color);
  left: 0;
  bottom: 0;
}
.header .logo a:hover::before,
.header .logo a:hover::after {
  width: 120%;
}
.header .nav .link {
  margin: 0 1rem;
  font-size: 1.2rem;
}
.header .nav .link a {
  position: relative;
  color: var(--secondry-color);
  text-decoration: none;
  transition: var(--transition);
  letter-spacing: var(--letter-spacing);
}
.header .nav .link::first-letter {
  color: var(--primary-color);
}
.header .nav .link:hover::first-letter {
  color: var(--secondry-color);
}
.header .nav .link a:hover {
  color: var(--primary-color);
}
.header .nav .link a::before {
  content: "";
  position: absolute;
  width: 0%;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color: var(--secondry-color);
  transition: var(--transition);
}
.header .nav .link a:hover::before {
  width: 100%;
}
.main-body {
  color: var(--secondry-color);
  padding: 3rem 4rem;
  justify-content: space-between;
  height: 100vh;
}
.main-body .left {
  flex-direction: column;
  letter-spacing: 10px;
}
.main-title {
  text-shadow: 0 0 60px var(--primary-color);
  color: var(--secondry-color);
  font-family: var(--bebas-font);
  font-size: 3.5rem;
}
.main-title .p::first-letter {
  color: var(--primary-color);
  font-size: 4.5rem;
}
.main-body .left .main-description {
  font-family: var(--bebas-font);
  font-size: 1.7rem;
  text-align: center;
}
.main-about {
  margin: 2rem;
  padding: 3vh 3vw 3vw 3vw;
  background-color: var(--blurBgColor);
  backdrop-filter: blur(4px);
  border-radius: 30px;
  flex-direction: column;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s;
}
.main-about.fade-in {
  transform: translateY(0px);
  opacity: 1;
}
.main-about::before,
.main-about::after {
  content: "";
  position: absolute;
  width: 20%;
  top: 0;
  transform: rotate(-50deg);
  left: 0;
  height: 5px;
  border-radius: 10px;
  background-color: var(--secondry-color);
  transition: var(--transition);
}
.main-about::before {
  background-color: var(--primary-color);
  width: 10%;
  left: 30px;
  top: -20px;
}
/* .main-about .main-title {
  margin-bottom: 2rem;
  position: relative;
  transition: var(--transition);
}
.main-about .main-title::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
  height: 5px;
  border-radius: 10px;
  background-color: var(--secondry-color);
  transition: var(--transition);
} */
.main-about .main-description {
  display: flex;
  padding-top: 3.5rem;
  flex-direction: column;
  justify-content: center;
  height: 40rem;
  width: 40vw;
  text-align: justify;
  margin-right: 20px;
  color: var(--secondry-color);
  font-family: var(--bebas-font);
  letter-spacing: 2px;
  font-size: 1.5rem;
}
.main-about .main-description p {
  margin-bottom: 3rem;
}
.main-about .main-description p b {
  color: var(--primary-color);
}
.main-about .main-description p::first-letter {
  color: var(--primary-color);
  font-size: 5rem;
  line-height: 0;
}
.myself {
  justify-content: space-around;
  width: 100%;
}
.myimg {
  height: 40rem;
  border-radius: 20px;
  transition: var(--transition);
}
.myimg:hover {
  box-shadow: 0 0 60px -5px var(--primary-color);
}
.main-projects {
  margin: 0 10vw;
  flex-direction: column;
}
.main-projects .projects {
  /* width: 40vw; */
  padding: 2vw;
}
.project {
  margin: 0 0.6rem;
  opacity: 0.7;
  transition: var(--transition);
}
.projectScroll {
  opacity: 0;
}
.main-projects .projects .project:hover {
  opacity: 1;
  scale: 1.1;
}
.main-projects .projects .project::before,
.main-projects .projects .project::after {
  content: "";
  position: fixed;
  border-radius: 10px;
  width: 0%;
  height: 3px;
  transition: var(--transition);
  z-index: 99;
}
.main-projects .projects .project::before {
  top: 0;
  left: 0;
  background-color: var(--secondry-color);
}
.main-projects .projects .project::after {
  bottom: 1px;
  right: 0;
  background-color: var(--primary-color);
}
.main-projects .projects .project:hover::before,
.main-projects .projects .project:hover::after {
  width: 80%;
}
.main-projects .main-title::first-letter {
  color: var(--primary-color);
  font-size: 4.5rem;
}
.main-projects .projects .project .project-title {
  font-family: var(--bebas-font);
  font-size: 2rem;
  color: var(--secondry-color);
}
.main-projects .projects .project .project-title::first-letter {
  color: var(--primary-color);
  font-size: 3.5rem;
}

.project-description {
  text-indent: 20px;
  opacity: 0;
  position: absolute;
  color: var(--secondry-color);
  background-color: var(--textBg);
  position: absolute;
  height: 100%;
  top: 0;
  /* bottom: 0; */
  text-align: justify;
  font-size: 1.1rem;
  font-family: var(--poppins-font);
  padding: 0.5rem 2rem;
  transition: var(--transition);
  overflow: hidden;
}
.project-description b {
  text-decoration: underline;
}
.p::first-letter {
  color: var(--primary-color);
  font-size: 1.3rem;
}
.main-projects .projects .project:hover .project-description {
  opacity: 1;
}

.main-projects .projects .project .project-image {
  width: 27rem;
  height: 15rem;
}
.main-contact {
  flex-direction: column;
  margin: 4rem 0;
}
.main-contact .form form {
  flex-direction: column;
}
.main-contact .form form input,
.main-contact .form form textarea {
  position: relative;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  width: 70vw;
  background-color: var(--blurBgColor);
  backdrop-filter: blur(8px);
  font-family: var(--bebas-font);
  letter-spacing: var(--letter-spacing);
  font-size: 2rem;
  color: var(--secondry-color);
  border: none;
  transition: var(--transition);
  resize: none;
  border-bottom: 1px solid var(--secondry-color);
}
.main-contact .form form input:hover,
.main-contact .form form textarea:hover,
.main-contact .form form input:focus,
.main-contact .form form textarea:focus {
  box-shadow: 0 0 60px -5px var(--primary-color);
  outline: none;
  width: 75vw;
  backdrop-filter: blur(15px);
  border-bottom: 1px solid var(--primary-color);
}
.main-contact .form #send {
  width: auto;
  box-shadow: 0 0 20px -5px var(--primary-color);
}
.main-contact .form #send:hover {
  padding: 0.5rem 3rem;
  opacity: 0.7;
  box-shadow: 0 0 40px -5px var(--primary-color);
  background-color: var(--primary-color);
}
.social-links {
  padding: 2rem 0;
  position: relative;
}
.social-links::before,
.social-links::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 5px;
  border-radius: 10px;
  background-color: var(--secondry-color);
  box-shadow: 0 0 20px 0px var(--secondry-color);
  transition: var(--transition);
}
.social-links::before {
  top: 0;
}
.social-links::after {
  bottom: 0;
  /* right: 5%; */
}

.social-links:hover::before {
  transform: translateX(-200px);
}

.social-links:hover::after {
  transform: translateX(200px);
}

.social-links a {
  margin: 1rem 2rem;
  font-size: 2rem;
  color: var(--secondry-color);
  text-shadow: 0 0 30px var(--primary-color);
  transition: var(--transition);
}
.social-links a:hover {
  color: var(--primary-color);
  text-shadow: 0 0 30px var(--secondry-color);
  transform: scale(1.4) translateY(-1rem);
}
@media screen and (max-width: 900px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  /* .pleaseUsePc {
    display: flex;
    text-align: center;
  } */
  .main-about .main-description {
    width: auto;
    height: auto;
  }
  .main-about::before {
    left: 40px;
    top: 0px;
  }
  .main-about::after {
    left: 30px;
    top: 20px;
  }
}
@media screen and (max-width: 710px) {
  .header {
    padding: 2rem 0;
  }
  .main-body {
    justify-content: center;
  }
  .project {
    margin: 1rem 1.5rem;
  }
  .main-projects .projects .project:hover {
    margin: 1rem 1.5rem;
  }
}
@media screen and (max-width: 640px) {
  .main-projects {
    background-color: var(--blurBgColor);
    backdrop-filter: blur(5px);
  }
  .project {
    margin: 0;
  }
  .project:hover {
    margin: 0;
  }
  .main-projects .projects .project .project-title {
    font-size: 4vw;
  }
  .main-projects .projects .project .project-image {
    width: 60vw;
    height: 22.6vh;
  }
  .project-description {
    font-size: 2.5vw;
    line-height: 20px;
    width: 60vw;
    height: 22.6vh;
    top: 4.55rem;
    /* bottom: 1000px; */
  }
}
@media screen and (max-width: 590px) {
  .cursorCanvas {
    display: none;
  }
  .loading {
    font-size: 7vw;
  }

  .myimg {
    height: 90vw;
  }
  .header {
    flex-direction: column;
    padding: 1rem 0;
  }
  .header .nav .link {
    margin: 0 2vw;
  }
  .header .logo {
    margin: 0.5rem 0 1.3rem 0;
  }
  .main-body {
    height: 47vh;
    padding-top: 2rem;
    padding: 1rem;
    align-items: flex-end;
  }

  .main-body .left {
    letter-spacing: 5px;
  }
  .main-body .main-title {
    font-size: 4rem;
  }
  .main-body .left .main-description {
    font-size: 1rem;
  }
  .main-about {
    margin-top: 0;
    margin: 0rem;
    border-radius: 0;
  }
  .main-about .main-title {
    font-size: 3rem;
  }
  .main-title .p::first-letter {
    font-size: 5rem;
  }
  .main-about .main-description {
    margin: 0.5rem;
    padding: 0;
    font-size: 1rem;
  }
  .main-about .main-description p::first-letter {
    font-size: 2rem;
  }
  .myimg {
    width: 100vw;
    height: fit-content;
    /* position: absolute; */
    margin-bottom: 3rem;
    top: 5rem;
    opacity: 0.4;
    border-radius: 0;
    z-index: -1;
  }
  .main-projects {
    margin: 0;
  }
  .projects {
    margin: 0;
    padding: 0;
  }
  .main-projects .projects .project {
    margin: 1rem 0;
  }
  .main-projects .projects .project .project-image {
    width: 70vw;
  }
  .project-description {
    width: 100%;
    height: 100%;
    top: 0;
  }
  .main-contact .form form input,
  .main-contact .form form textarea {
    font-size: 1rem;
    width: 95vw;
  }
  .main-contact .form form input:hover,
  .main-contact .form form textarea:hover,
  .main-contact .form form input:focus,
  .main-contact .form form textarea:focus {
    width: 95vw;
  }
}
